:root {
  --background-light: #f5f5f5;
  --background-dark: #1e1e1e;
  --text-light: rgb(20, 20, 20);
  --text-dark: #f5f5f5;
}

body {
  font-family: var(--font-inter), Arial, sans-serif;
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background 0.3s, color 0.3s;
}

.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-dark);
  
}


body.dark-theme {
  background-color: #06031c;
  color: #ffffff;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

h2 .fa-icon {
  margin-left: 10px;
  font-size: 1rem;
}

button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-color: #21065f;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}

button:hover {
  background-color: #2a0142;
}

.button-container {
  display: flex;
  gap: 20px;
}

select {
  margin: 10px 0;
  padding: 5px;
  font-size: 16px;
}
